body{
    height: 100%;
    width: 100%;
    font-family: 'Wix Madefor Display', sans-serif;
    margin: auto;
    background-color: black;
    /* align-items: center; */
    position: relative;
}
.calculator{
    position: absolute;
    left: 20%;
    top: 50px;
}
.button{
    padding: 7px;
    width: 48px;
    height: 49px;
    margin: 3px;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
    font-size: 24px;
}
.big{
    width: 46%;
    border-radius: 23px;
    text-align: left;
    padding: 11px;
}
.bg-orange{
    background-color: rgb(255, 140, 0);
}
.bg-grey{
    background-color: grey;
}
.bg-black{
    background-color: black;
    color: white;
    font-size: 85px;
}
.display{
    margin: 8px 0;
}
.display input{
    margin: 4px;
    padding: 10px 2px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 20px;
}